* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgb(184, 170, 175);
}

.slider-container {
  padding-top: 2em;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 500%;
  transition: 0.5s;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slide img {
  border-radius: 1em;
  width: 60%;
}

.slider-container input {
  display: none;
}

.wallpaper-label {
  width: 60%;
  margin: 1em auto 0;
}

.label-block {
  display: flex;
  justify-content: end;
  gap: 0.5em;
}

.label-block label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  cursor: pointer;
}

.position-label-block {
  display: flex;
  width: 15em;
  height: 4em;
  justify-content: right;
  align-items: center;
}

.padding-div {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transition: 1s;
  background: rgba(165, 0, 0, 0.638);
}

label:hover .padding-div {
  background: rgb(82, 62, 62);
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-20%);
}

#slide3:checked ~ .slides {
  transform: translateX(-40%);
}
#slide4:checked ~ .slides {
  transform: translateX(-60%);
}
#slide5:checked ~ .slides {
  transform: translateX(-80%);
}

.slides-text {
  display: flex;
  width: 500%;
  transition: 0.5s;
}

#slide1:checked ~ .slides-text {
  transform: translateX(0);
}

#slide2:checked ~ .slides-text {
  transform: translateX(-20%);
}

#slide3:checked ~ .slides-text {
  transform: translateX(-40%);
}
#slide4:checked ~ .slides-text {
  transform: translateX(-60%);
}
#slide5:checked ~ .slides-text {
  transform: translateX(-80%);
}

.block-text {
  display: flex;
  margin-top: 1em;
  justify-content: center;
  width: 100%;
}

.position-text-block {
  width: 60%;
}

.meme-text {
  display: flex;
  align-items: center;
  height: 3em;
  transform: translateY(-4.5em);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 60%;
}
