* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgb(184, 170, 175);
}

.slider-container {
  padding-top: 2em;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 500%;
  transition: 0.5s;
}

.label-block {
  display: flex;
  gap: 0.5em;
}

.label-block label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
